


  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  html{

    font-family: fantasy;
    
  }



/*
Momentan nicht relevant
  header{

    _position: sticky;
    top: 0px;

  }
*/ 



  h2{
      position: relative;
      left: -16px;

  }

  h1,h2,h3 {

    font-family: 'Times New Roman', Times, serif;

  }

  body {

    margin: 0;

  }


  .header {
    padding: 48px 16px;
    text-align: center;
    background-color: #eee;
  }

  .hide_me{

    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    border-radius: 4px;
    color: black;
    background-color: rgb(93, 179, 93);
  }

  

  .headline::after {

    content: "😉"

  }

  article section > H3,p {

    display: inline-block;

  }


  .main, .footer {

    max-width: 800px;
    margin:  auto;
    padding: 16px;
  }

  *::selection {

    background-color: rgb(210, 221, 160);

  }
  li + li {

    margin-top: 15px;

  }

  main article > p { 

    margin-top: 20px;
  }

  main article > section > h3{

    margin-top: 20px;
  }

  article  {

    color: black;
    border-top: 1px solid;
    
  }

  body header > nav >  a  {

    padding-left: 20px;   

  }

  
  a:visited{

    color: black;

  } 

  a:hover{

    background-color :rgb(185, 190, 186);

  }

  a:active{

    background-color: rgb(100, 194, 120);

  }
 
  

  .footer article > section > ui > li{

    padding-left: 30px;

  }

  