* {
  box-sizing: border-box;
}

html {
  font-family: fantasy;
  font-size: 20px;
}

@media print {
  .hide_me {
    display: none;
  }
}

h2 {
  position: relative;
  left: -1rem;
}

h1,
h2,
h3 {
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0;
}

.header {
  padding: 1rem 1.6rem;
  text-align: center;

  background-image: linear-gradient(
    rgb(236, 228, 228) 20%,
    grey 70%,
    white 80%
  );
}

section header > p {
  padding-left: 67px;
}

article section > ul {
  padding-left: 92px;
}
.profil_header {
  font-size: 1em;
}

.experience_1 {
  flex-basis: 50px;
  font-size: 1em;
}

.experience_2 {
  flex-basis: 50px;
  font-size: 1em;
}

.div_experience2 > h3 {
  padding-left: 37px;
}
.div_experience1 {
  display: flex;

  font-size: 1em;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.div_experience2 {
  display: flex;

  font-size: 1em;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.text_1 {
  padding-left: 68px;
}

.text_2 {
  padding-left: 68px;
}

.hide_me {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  color: black;
  background-color: rgb(93, 179, 93);
}

.headline::after {
  content: '😉';
}

article section > header > H3,
p {
  display: inline-block;
}

.main {
  max-width: 40rem;
  margin: auto;
  padding: 0.5rem;
}

*::selection {
  background-color: rgb(210, 221, 160);
}

li + li {
  margin-top: 1.5rem;
}

main article > section > p {
  margin-top: 0.5rem;
  width: 100%;
}

main article > section > header > h3 {
  margin-top: 1rem;
}

p {
  max-width: 60ch;
}

article {
  color: black;
  border-top: 0.1rem solid;
  padding-left: 1.7rem;
}

body header > nav > a {
  padding-left: 2rem;
}

a:visited {
  color: black;
}

a:hover {
  background-color: rgb(185, 190, 186);
}

a:active {
  background-color: rgb(100, 194, 120);
}

.footer article > section > ui > li {
  padding-left: 1rem;
}

.footer {
  max-width: 40rem;
  margin: auto;
  padding: 0.5rem;
  background-image: linear-gradient(
    rgb(236, 228, 228) 20%,
    grey 70%,
    white 80%
  );
}
/*********Mobile Screen************/

@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
  }

  .navi {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }

  .hide_me {
    position: fixed;
  }
}
