


* {
    box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3
{

  font-family: 'Times New Roman', Times, serif;

}

body {
  margin: 0;
}


.header {
  padding: 48px 16px;
  text-align: center;
  background-color: #eee;
}

.main, .footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

  li + li {

      margin-top: 15px;

  }

  main article > p { 

    margin-top: 20px;
  }

  main article > section > h3{

    margin-top: 20px;
  }

  main > article  {

    color: black;
    border-top: 1px solid;
}



  body header > nav >  a  {

    padding-left: 20px;   

  }


  a:hover{

  color :yellow;

  }

  a:active{

    color: green;


  }
  .footer{
  color: black;
  border-top: 1px solid;
  }

  .footer article > section > ui > li{

  padding-left: 30px;

  }